<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>WS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header><h1>Logs</h1></header>
			<table class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Level</th>
						<th>Class</th>
						<th>Method</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody id="detail">
				</tbody>
			</table>
        <footer>Powered by <a href="http://perl6.org/">Perl6</a></footer>
    </div>
    <script type="text/javascript">
        function log(msg) {
				var row = '<tr><td>' + msg.when + '</td><td>' + msg.level + '</td><td>' + msg.class.name + '</td><td></td><td>' + msg.message + '</td></tr>';
            $('#detail').prepend(row);
        }

        $(function () {
            var ws = new WebSocket('[% ws-url %]');
            ws.onopen = function () {
                console.log('connected');
            };
            ws.onclose = function (ev) {
                console.log('closed');
            };
            ws.onmessage = function (ev) {
                log(JSON.parse(ev.data));
            };
            ws.onerror = function (ev) {
                console.log(ev);
            };
        });
    </script>
</body>
</html>
