name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    container:
      image: rakudo-star:latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Raku version
      run: raku -v

    - name: Install an SSL
      run: apt-get -qq update && apt-get -qq install -y libssl3 libssl-dev openssl

    # This is temporary. For the time being we need an older version of Template6
    # than installed in rakudo-star and for some reason using the explicit version
    # doesn't work as expected
    
    - name: Remove Template6
      run: zef uninstall Template6

    - name: Install dependencies
      run: zef install --deps-only --/test --test-depends .

    - name: Run tests
      run: zef test -v --debug .
